    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: black;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
	
	/* cambiar tipo de letra */
	.navbar .nav > li > a  {
	  color: #003380;
      font-weight: normal;
	}

	.navbar .nav > li > a:hover  {
	  color: red;
      background-color: #5499C7;
      font-weight: bold;
	}
	 
	/* cambiar el color de fondo a la barra */
	nav.navbar {
	    background-color: #66a3ff;
	}

	#googleMap {
	    width: 100%; /* Span the entire width of the screen */
	    height: 250px; /* Set the height to 400 pixels */
	    -webkit-filter: grayscale(10%);
	    filter: grayscale(60%); /* Change the color of the map to black and white */
	}


/******MODAL FORM LOGIN 


 /* Bordered form */
 select, select option {
    /*text-transform: uppercase;*/
    cursor: pointer;
    -webkit-appearance:none;
     //margin-left: 200px;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    border:2px solid #1497D7;
    border-radius:10px;
    height: 22px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    //margin-left: 200px;

    /*box-sizing: border-box;*/
}

.formRegist{
     margin-left: 100px;
}

/* Set a style for all buttons */
.botonform {
    background-color:  #003380;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 150px; height: 150px;
}

/* Add padding to containers */
.container {
    padding: 5px;
}
.loginF{
    padding: 5px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

	 /* The Modal (background) */
#id01 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

body{
        font-family: "Tahoma", sans-serif; 
 
        background: url(../picture/fondo.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

    /*font-family: "Tangerine", serif;*/
}
